@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.otf') format('opentype');,
    url('/fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

