.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 5rem;
}

.hero {
    padding-block: 3rem; /* 96px сверху и снизу */
    background: #ffffff;
}

.hero-bg {
    max-width: 1350px;
    margin: 0 auto;

    padding: 5rem 0;

    background: linear-gradient(
            135deg,
            #E6ECFC 0%,

            #F2E9E5 100%
    );

    border-radius: 3rem;
}

.hero-bg > * {
    position: relative;
    z-index: 1;
}

.hero__title h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: 'Inter Regular', sans-serif;
    color: #3D496D;
}

.hero__title p {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 3rem;   /* расстояние от h1 */
    margin-bottom: 1rem;  /* расстояние до карточек */
    font-family: 'Inter Regular', sans-serif;
    color: #3D496D;
}

.hero__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3rem; /* 80px между карточками */
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero__card {
    display: flex;
    justify-content: space-between; /* текст слева, кнопка справа */
    align-items: center;
    padding: 1.5rem 2.5rem;

    border-radius: 20px;
    font-size: 1.1rem;
    font-family: 'Inter Regular', sans-serif;
    text-align: left;
    border: #3D496D 1px solid;
}

.hero__card-text {
    flex: 1; /* текст занимает всё место слева */
}

.hero__card-btn {
    background: #3D496D;;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero__card-btn:hover {
    background-color: #364363;
    transform: translateX(4px);
}

.hero__button-container {
    display: flex;
    justify-content: center; /* по горизонтали */
    margin-top: 2rem;
    text-decoration: none;
}

/* Стили кнопки */
.button-one {
    padding: 1rem 6rem;     /* вертикальные и горизонтальные отступы */
    font-size: 1.2rem;
    font-family: 'Inter Regular', sans-serif;
    border-radius: 8px;
    background-color: #364363;    /* начальный цвет */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* плавный переход цвета */
    text-decoration: none;
}

.button-one:hover {
    background-color: #364363;
    text-decoration: none;
}


@media (max-width: 750px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding-inline: 0.5rem;
        margin: 0 auto;
    }
    .hero-bg {
        width: 95%;
        max-width: 100%;
        padding: 2rem 0;
        border-radius: 1rem;
    }
    .hero__title h1 {
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .hero__title p {
        font-size: 0.6rem;
        margin-top: 1rem;
    }

    .hero__list {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .hero__card {
        margin-top: 0.01rem;
        width: 100%;
        padding: 1rem 0.9rem;
        font-size: 0.8rem;
        border-radius: 14px;
        gap: 0.4rem;
    }
    .hero__card-btn {
        width: 1rem;
        height: 1rem;
        font-size: 0.5rem;
    }
    .button-one {
        padding: 0.6rem 2.5rem;
        font-size: 0.8rem;
        border-radius: 8px;
    }
}
